.tableSpace{
    display: flex;
    margin-left:1rem;
}

.project-page{
    .ant-divider-horizontal{
        margin: 6px;
    }
    .ant-divider-vertical{
        margin-top: 0.5rem;
        height: 3rem;
        border-width: 3px;
    }
}

.subNavbar{
    margin-left: 25px;
    display: flex;
    justify-content: start;
    cursor: pointer;
}