.tableSpace {
  display: flex;
  margin-left: 1rem;
  align-items: center;
}

.project-page {
  .ant-divider-horizontal {
    margin: 2px;
    border-width: 1px;
  }
  .ant-divider-vertical {
    margin-top: 0.5rem;
    height: 3rem;
    border-width: 1px;
  }
  .ant-input{
    border: none !important;
    background: inherit !important;
  }
}

.subNavbar {
  margin-left: 25px;
  display: flex;
  justify-content: start;
  cursor: pointer;
}

.DragIcon {
  display: flex;
  flex-direction: column;
  margin: 4px;
  cursor: grab;
}

.add-section{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.ProjectPageDetails{
    display: flex;
    height: 100%;
    .ant-tabs-nav-list{
        margin-left: 1.8rem;
    }
    

    .ListIconSvg{
        height: 50px;
        width: 50px;
    }
}

.collapseHead {
    display: flex;
}
