.ProjectView {
  background-color: #e8e8e8;
  height: 100%;
  justify-content: center;
  width: 100%;
  .CardView {
    display: flex;
    flex-direction: row;
  }
}


.OmnibuttonButtonCard {
    align-items: center;
    border-radius: 16px;
    display: inline-flex;
    height: 32px;
    margin: 15px;
    padding: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.omniButton{
    border-color: #a2a0a2;
    background: rgba(255, 255, 255, 0.11);
}

.typo {
    font-size: 14px;
    line-height: 22px;
    margin-left: 6px;
    margin-right: 6px;
}

.dropdownGroup{
    display: flex;
    justify-content: space-evenly;
}
.scrollable-list {
  max-height: 400px; /* Adjust as needed */
  overflow-y: auto; /* Vertical scrollbar */
}
.card-content {
  max-height: 200px; /* Adjust the height based on your needs */
  overflow-y: auto; /* Add a vertical scroll bar if content overflows */
  padding-right: 8px; /* Optional: Add padding to prevent content from touching the scrollbar */
}